/* hides the title bar */
#titlebar {
  visibility: collapse;
}

/* hides the sidebar */
#sidebar-header {
  visibility: collapse !important;
}

/*
 * a transparency code snippet from https://github.com/rkcpn/simple-transparent-firefox/
 * has been tested
*/

